aiohttp==3.6.2
aniso8601==8.0.0
async-timeout==3.0.1
attrs==19.3.0
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-Assistant==0.4.1
Flask-Cors==3.0.8
google-auth==1.20.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jsonify==0.5
MarkupSafe==1.1.1
meraki==0.110.5
multidict==4.7.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.24.0
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.15.0
urllib3==1.25.10
Werkzeug==1.0.1
yarl==1.5.1
